{% extends "layout.html" %}

{% block title %}
Cardápio
{% endblock %}

{% block content %}
<section class="container col-sm-12 col-md-7 col-lg-7">
    <h2 class="mt-4">Cardápio</h2>

    <div class="w-100 d-flex align-items-center mb-3">
        <input type="text" class="form-control" id="search_cardapio" placeholder="Pesquise por algum item">
        <select class="form-select ms-3" id="search_cardapio_categoria" onchange="jsfunction(this)"
            name="select_categoria">
            <option value="" selected>Escolha uma categoria</option>
            {% for categoria in categoriaDAO.readCategoria %}
            <option value="{{ categoria.nome }}">
                {{ categoria.nome }}&#{{ categoria.icone }};
            </option>
            {% endfor %}
        </select>
    </div>

    <div id="output_cardapio"></div>
</section>

{% endblock %}