{% extends "layout.html" %}

{% block title %}
Cardápio
{% endblock %}

{% block content %}
<section class="container col-sm-12 col-md-7 col-lg-7">
    <h2 class="mt-4">Cardápio</h2>

    <div class="w-100 d-flex align-items-center mb-3">
        <input type="text" class="form-control" id="search_cardapio" placeholder="Pesquise por algum item">
    </div>

    <div id="output_cardapio"></div>
</section>

<section class="container col-sm-12 col-md-7 col-lg-7">
    <h2 class="mt-4">Cardápio</h2>

    <div class="w-100 d-flex align-items-center mb-3">
        <select class="form-select" id="search_cardapio_categoria" onchange="jsfunction(this)" name="select_categoria">
            {% for categoria in categoriaDAO.readCategoria %}
            <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="output_cardapio_categoria"></div>

    <!-- Pesquisa cardápio por categoria -->
    <script type="text/javascript">
        function jsfunction(sel) {
            texto = sel.options[sel.selectedIndex].text;
            $.ajax({
                type: 'POST',
                url: '/bruxasburger/app/controller/itens_cardapio/pesquisa_por_categoria.php',
                data: {
                    select_categoria: texto,
                },
                success: function (data) {
                    $("#output_cardapio").html(data);
                }
            });
        }
    </script>
</section>

{% endblock %}