{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="owl-carousel owl-item-filial-home owl-theme d-flex align-items-center" style="height: 87vh;">
    {% for itemCardapio in itemCardapioDAO.readitemCardapio %}
    <div class="item">
        {% include "structure/home/carousel_filial_home.html" %}
    </div>
    {% endfor %}
</div>
<style>
    .bounce {
        position: absolute;
        left: 50%;
        height: 50px;
        width: 50px;
        background: red;
        -webkit-animation: bounce 1s infinite;
    }

    @-webkit-keyframes bounce {
        0% {
            bottom: 05px;
        }

        25%,
        75% {
            bottom: 15px;
        }

        50% {
            bottom: 20px;
        }

        100% {
            bottom: 0;
        }
    }
</style>
<div class="d-flex justify-content-center">
    <button id="teste" onclick="scrollar()" class="btn text-white bounce" style="margin-top: -8rem; z-index: 998;"><i
            class="bi bi-caret-down"></i></button>
</div>
<!-- Cardapio -->
<h2 class="text-center mt-4">Confira nosso cardápio</h2>
<div class="owl-carousel owl-item-cardapio owl-theme">
    {% for itemCardapio in itemCardapioDAO.readitemCardapio %}
    <div class="item">
        {% include "structure/itens_cardapio/carousel_item_cardapio.html" %}
    </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center">
    <a href="cardapio" class="btn btn-warning fs-5">Ver todos</a>
</div>

<h2 class="text-center mt-5 mb-4">Quem somos</h2>
<p class="myP">
    O Bruxas Burger tem como missão trazer cada vez mais conforto e bem estar aos seus clientes, mantendo sempre um
    ótimo atendimento e buscando sempre ter os melhores preços para a satisfação de todos. Temos como objetivo expandir
    nosso empreendimento e abrir filiais em diversos lugares do RS, SC e PR, para divulgar o trabalho singular que só o
    Bruxas tem.
    <br>
    Bruxas Burger foi fundado há mais de 25 anos no litoral norte de Imbé por duas irmãs que há oito anos venderam o
    mesmo para o atual proprietário: Edson Jacinto Herzogues. Tendo como sócios Carlos Fernando Noronha e Yuri Lima de
    Noronha, proprietários da franquia em Porto Alegre.
</p>
<!-- Filiais -->
<h2 class="text-center mt-4">Encontre um Bruxas perto de você</h2>
{% for filial in filialDAO.readFilial %}
<div class="modal fade" id="modalImagem{{ filial.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">";
                {% for itemImagem in imagemFilialDAO.filtrarPorFilial(filial.id) %}
                <img src="assets/img/filiais/{{ filial.cidade }}/{{ itemImagem.nome }}"
                    class="img-fluid rounded card-img-top mb-3" alt="..." data-bs-toggle="modal"
                    data-bs-target="#modalImagem{{ filial.id }}" style="height: 25rem; width: 100%; object-fit: cover">
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="owl-carousel owl-filial owl-theme">
    {% for filial in filialDAO.readFilial %}
    <div class="item">
        {% include "structure/filiais/carousel_filial.html" %}
    </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center">
    <a href="filiais" class="btn btn-warning fs-5">Ver todos</a>
</div>

{% endblock %}