{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Cardapio -->
<h2 class="text-center mt-4">Confira nosso cardápio</h2>
<div class="owl-carousel owl-item-cardapio owl-theme">
    {% for itemCardapio in itemCardapioDAO.readitemCardapio %}
    <div class="item">
        {% include "structure/itens_cardapio/carousel_item_cardapio.html" %}
    </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center">
    <a href="cardapio" class="btn btn-warning fs-5">Ver todos</a>
</div>

<h2 class="text-center mt-5 mb-4">Quem somos</h2>
<p class="myP">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor est, laoreet at sollicitudin id, fringilla
    tristique tortor. Vivamus condimentum efficitur orci tempus tincidunt. Quisque non laoreet diam. Vivamus sit amet
    interdum magna. Morbi iaculis sapien congue neque scelerisque sodales. Duis sagittis tortor ac est sagittis
    malesuada. Ut et quam id arcu pretium tincidunt posuere a tellus. Nunc vel ornare ipsum, quis aliquet lacus.

    Donec vitae magna ullamcorper, maximus tortor vitae, ultricies ligula. Sed viverra libero et hendrerit congue.
    Aliquam placerat mauris in iaculis molestie. Nullam congue congue tortor eu pulvinar. Duis vehicula mauris volutpat
    tortor vehicula bibendum a ut elit. In ut massa ac nisi tristique pulvinar tincidunt id ante. Ut elementum convallis
    lacus quis faucibus. Quisque consequat ligula id elit cursus, id congue leo finibus. Mauris id volutpat augue, ut
    posuere eros. Vivamus suscipit interdum lectus, ullamcorper congue nunc varius quis.

    Vivamus laoreet, mi at aliquet sagittis, leo leo ultricies justo, eget sollicitudin diam tellus quis est. Integer et
    tempor justo. Mauris fringilla, magna eu ullamcorper varius, erat justo faucibus ipsum, at interdum sem ex et nisi.
    Ut pellentesque ante ac lectus rutrum, in vehicula mauris aliquet. Aenean ac orci feugiat, pharetra lacus quis,
    aliquam nunc. Nam molestie tortor vel malesuada consequat. Donec a ante orci. Aenean et orci bibendum, scelerisque
    nibh quis, ornare nisl. Sed ullamcorper elit sed nisl tristique dictum. Morbi cursus suscipit nisl eu ullamcorper.
    Etiam dictum turpis risus, at sodales eros tincidunt non. Maecenas volutpat dolor sed maximus suscipit. Class aptent
    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Duis vestibulum dictum pellentesque. Praesent blandit dui felis, at suscipit lacus
    pulvinar in.

    Quisque tincidunt purus magna, et suscipit elit placerat eu. Pellentesque elit mauris, rhoncus quis dui at, finibus
    placerat nibh. Integer volutpat molestie erat, a hendrerit neque vestibulum eget. Vestibulum eget nisi nibh. Integer
    non dapibus est, ut rhoncus massa. Morbi luctus sagittis libero, non vestibulum orci tincidunt id. Donec at purus
    pretium, semper diam non, fermentum nunc. Pellentesque sem nisl, sagittis vitae neque ac, consequat euismod sapien.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ornare ac
    nibh vel consectetur.

    Fusce non elementum dui. Curabitur placerat condimentum erat, vitae mattis nibh varius sed. Etiam condimentum nisl
    sed enim ullamcorper, nec sagittis nisl accumsan. Aenean posuere ligula ut nibh porttitor, sit amet fringilla mi
    volutpat. Sed mattis lacus id gravida euismod. Vivamus scelerisque sit amet leo quis dignissim. Sed commodo
    imperdiet dolor non dapibus. Vivamus porta pretium tellus, sit amet dictum eros vulputate a. Sed commodo ac tortor
    et iaculis.
</p>
<!-- Filiais -->
<h2 class="text-center mt-4">Encontre um Bruxas perto de você</h2>
{% for filial in filialDAO.readFilial %}
<div class="modal fade" id="modalImagem{{ filial.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">";
                {% for itemImagem in imagemFilialDAO.filtrarPorFilial(filial.id) %}
                <img src="assets/img/filiais/{{ filial.cidade }}/{{ itemImagem.nome }}"
                    class="img-fluid rounded card-img-top mb-3" alt="..." data-bs-toggle="modal"
                    data-bs-target="#modalImagem{{ filial.id }}" style="height: 25rem; width: 100%; object-fit: cover">
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="owl-carousel owl-filial owl-theme">
    {% for filial in filialDAO.readFilial %}
    <div class="item">
        {% include "structure/filiais/carousel_filial.html" %}
    </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center">
    <a href="filiais" class="btn btn-warning fs-5">Ver todos</a>
</div>

{% endblock %}