<div class="col" style="position: inherit;">
    <div class="card shadow ms-3 me-3 mb-4 mt-4" style="position: inherit;">
        {% for item in imagemFilialDAO.filtrarPorFilial(filial.id) %}
        {% if loop.first %}
        <img src="assets/img/filiais/{{ filial.cidade }}/{{ item.nome }}" class="card-img-top" alt="..."
            style="height: 25em; object-fit: cover">
        {% endif %}
        {% endfor %}
        <div class="d-flex flex-row">
            {% for item in imagemFilialDAO.filtrarPorFilial(filial.id) %}
            {% if loop.first %}
            {% else %}
            <div class="col ">
                <img src="assets/img/filiais/{{ filial.cidade }}/{{ item.nome }}" alt=""
                    style="height: 15rem; object-fit: cover;">
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card-body text-center">
        <h5 class="card-title">Bruxas Burger {{ filial.cidade }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ filial.rua }} - {{ filial.numero }}, {{ filial.bairro }}
        </h6>
        <a href="https://api.whatsapp.com/send?phone={{ filial.telefone }}" class="btn btn-success w-100"
            style="position: inherit;">
            <i class="bi bi-whatsapp"></i> Chamar no Whatsapp
        </a>
    </div>
</div>