<div class="card border-light mb-3 shadow-lg col-sm-12 col-md-4 col-lg-4">
    <div class="card-body">
        <div class="card-img-top">
        </div>
        <h5 class="card-title">Bruxas Burger {{ filial.cidade }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ filial.rua }} - {{ filial.numero }}, {{ filial.bairro }}
        </h6>
        <a href="https://api.whatsapp.com/send?phone={{ filial.telefone }}" class="btn btn-success">
            <i class="bi bi-whatsapp"></i> Chamar no Whatsapp
        </a>
    </div>
</div>