<div class="col">
    <div class="card border-light mb-3 shadow-lg">
        <img src="https://img.freepik.com/vetores-gratis/imagens-animadas-abstratas-neon-lines_23-2148344065.jpg?size=626&ext=jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bruxas Burger {{ filial.cidade }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ filial.rua }} - {{ filial.numero }}, {{ filial.bairro }}
            </h6>
            <a href="https://api.whatsapp.com/send?phone={{ filial.telefone }}" class="btn btn-success w-100">
                <i class="bi bi-whatsapp"></i> Chamar no Whatsapp
            </a>
        </div>
    </div>
</div>