<div class="card border-light mb-3 shadow-lg">
    <div class="card-body">
        <img src="test.jpg" class="card-img-top" alt="Imagem indisponível :(">
        <h5 class="card-title">Bruxas Burger {{ filial.cidade }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ filial.rua }} - {{ filial.numero }}, {{ filial.bairro }}
        </h6>
        <p class="card-text">{{ filial.telefone }}</p>
        <a href="#" class="btn btn-light">Editar</a>
        <a href="#" class="btn btn-danger">Apagar</a>
    </div>
</div>