{% extends "gerenciamento/layout.html" %}

{% block title %}Login{% endblock %}

{% block subtitle %}Login{% endblock %}

{% block content %}
<form action="../app/controller/usuarios/login.php" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " name="login">
        <label for="floatingInput">Login</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder=" " name="senha">
        <label for="floatingPassword">Senha</label>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}