@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}

/* inicio do navbar */
.section {
  color: #ffffff;
  height: 75vh;
  margin: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.list-inline {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.list-inline > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}
/* fim do navbar */

.list-inline li a {
  text-decoration: none !important;
  color: white;
}

.affix {
  padding: 0;
  background-color: #111;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  font-size: 20px;
}

.my_bttn {
  height: 45px;
  width: 45px;
  border: none;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: none;
}

@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}
