<div class="col">
    <div class="card shadow ms-3 me-3 mb-4 mt-4">
        <img src="assets/img/cardapio_itens/{{ itemCardapio.imagem }}" class="card-img-top" alt="..."
            style="height: 20em; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{ itemCardapio.item_nome }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ itemCardapio.nome }}&#{{ itemCardapio.icone }};
            </h6>
            <p class="card-text">
                {{ itemCardapio.descricao }}
            </p>
        </div>
    </div>
</div>