{% extends "gerenciamento/layout.html" %}

{% block title %}Categorias{% endblock %}

{% block subtitle %}Gerenciamento de Categorias{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <a href="../home" class="btn btn-light">Voltar</a>
    <div class="d-flex flex-row">
        <div id="div_create_categoria">
            <form action="../../../app/controller/categorias/create.php" method="post" class="d-flex flex-row">
                Nome:
                <input type="text" name="nome" class="form-control ms-2 me-2" style="width: 200px;">
                Icone:
                <input type="text" name="icone" class="form-control ms-2" style="width: 200px;">
                <button class="btn btn-success ms-3 me-3">
                    <i class="bi bi-check-lg"></i>
                </button>
            </form>
        </div>
        <button class="btn btn-primary" onclick="hideShowCategoria()">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for categoria in categoriaDAO.readCategoria %}
    {% include "gerenciamento/cardapio/categorias/structure/item_categoria.html" %}
    {% endfor %}
</div>

{% endblock %}